.result{
    height:100vh;
    display:grid;
    place-items: center;
}
.result__card{
    padding: 10px;
    text-align: center;
    background-color: brown;
    border-radius: 10px;
    box-shadow: 0 5px 6px rgba(25, 181, 38, 0.661), 0 2px 3px rgba(216, 206, 22, 0.872);
    width:550px;
}